numpy
pandas
scikit-learn
matplotlib
Django==5.2.3
django_prometheus==2.4.1
django_celery_beat==2.8.1
gunicorn==21.2.0
jsonschema>=4.20.0
numpy==2.3.1
pandas==2.3.0
PyYAML==6.0
requests==2.27.1
pymysql==1.1.0
jsonmerge==1.9.0
clickhouse_connect==0.6.8
psycopg2-binary==2.9.7
pydantic>=2.7.2,<3.0.0
pycryptodome==3.22.0
twilio==9.5.2
scrapy==2.11.2
twisted==22.10.0
pytz==2021.3
boto3==1.37.38
selenium==4.27.1
celery==5.5.2
fpdf2==2.8.3
ansible==6.7.0
google-auth==2.39.0
google-api-python-client==2.169.0
python-terraform==0.10.1
xlsxwriter==3.2.5
openpyxl==3.1.5
mcp==1.10.1
langgraph==0.4.8
langchain-ollama==0.3.3
redis==6.2.0
paramiko==2.11.0
pysftp==0.2.9
markdown
dspy
omegaconf==2.3.0
